* {box-shadow:  0px 0px 0px 1px red}
body {
    margin: 0px;
    font-family: 'Hedvig Letters Sans', sans-serif;
}
header {
    background-color: rgb(111, 110, 110);
    color: white;
    padding: 0px 10%;
}
.flex {
    display: flex;
}
ul {
    list-style: none;
    justify-content: end;
}
nav {
    width: 100%;
}
li {
    margin-right: 30px;
    margin-top: 5px;
}
@media screen and (max-width: 470px) {
    header {height: 100px}
    ul {
        flex-direction: column;
        align-items: end;
    }

}
.logoPng {
    width: 50px;
}